/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FF900E;
    color: #fff;
    padding: 18px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Main CSS */

.header-part{
    background-color:rgba(255, 144, 14, 0.1)
}

.navbar{
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 25px 5px;
    align-items: center;
}
.nav-menu ul{
    display: flex;
    gap: 40px;
}
.nav-menu ul li{
    
    list-style-type: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.25rem;
}
.logo h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #131313;
    cursor: pointer;
}

.banner{
    padding-top: 50px;
    width: 85%;
    margin: 0 auto;
}
.banner-content{
    text-align: center;
    padding-bottom: 40px;
    max-width: 850px;
    margin: 0 auto;
}
.banner-content h1{
    font-size: 4rempx;
    font-weight: bold;
    padding-bottom: 35px;
}
.banner-content p{
    font-size: 1rem;
    font-weight: 300;
    line-height:25px;
    padding-bottom: 30px;
}
.banner-img img{
    width: 100%;
}

/* Responsive CSS */

@media screen and (max-width:576px) {
    .nav-menu ul{
        display: flex;
        flex-direction: column;
    }
    .logo h1{
        font-size: 2rem;
    }

}