/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FF900E;
    color: #fff;
    padding: 18px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Main CSS */

.header-part{
    background-color:rgba(255, 144, 14, 0.1);
    padding-bottom: 30px;
    
}

.navbar{
    display: flex;
    max-width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 25px 5px;
    align-items: center;
}
.nav-menu ul{
    display: flex;
    gap: 40px;
}
.nav-menu ul li{
    
    list-style-type: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.25rem;
}
.logo h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #131313;
    cursor: pointer;
}

.banner{
    padding-top: 50px;
    max-width: 85%;
    margin: 0 auto;
}
.banner-content{
    text-align: center;
    padding-bottom: 40px;
    max-width: 850px;
    margin: 0 auto;
}
.banner-content h1{
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 35px;
}
.banner-content p{
    font-size: 1rem;
    font-weight: 300;
    line-height:25px;
    padding-bottom: 30px;
}
.banner-img img{
    width: 100%;
}

/* Team part CSS */
.team-container{
    max-width: 85%;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.team-img img{
    width: 100%;
}
.team-content{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
}
.team-content h1{
    font-size: 45px;
    font-weight: 600;
}
.team-content h1 .light-clr{
    color: #727272;
}
.team-content h1 .deep-clr{
    color: #131313;
}
.team-content h1 .orng-clr{
    color: #FF900E;
}

.team-content p{
    font-size: 16px;
    color: #727272;
    font-weight: 300;
    line-height: 25px;
    padding: 25px 0px;
}



/* Responsive Media Query */

@media screen and (max-width:576px) {
    .nav-menu ul{
        display: flex;
        flex-direction: column;
    }
    .logo h1{
        font-size: 2rem;
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    
}